/* CSS Style Sheet for Justin Morrow's CSD-340 Module 2 Assignment */
/* Reference: https://www.w3schools.com/css/css_pseudo_classes.asp */


/* Set the HTML and body font size to 16px */
html {
  font-size: 16px;
}
body {
  font-size: 16px;
}

/* Give the paragraph text a weight of 400. Give the text in the paragraphs a line-height of 1.4em */
p {
  font-weight: 400;
  line-height: 1.4em;
}

/* Give the h1 a weight of 700. Make the h1 uppercase and center the text */
h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}


/* Give the h2 a weight of 500. Give the h2 alignment to the left, and a top padding of 15px */
h2 {
  font-weight: 500;
  text-align: left;
  padding-top: 15px;
}


/* Give the CSS “intro” class a text-indent of 2em. This style only applies to the first paragraph */
.intro {
  text-indent: 2em;
}


/* Styling for the sentence span */
.sentence {
  font-style: italic;
}


/* Give the address a text alignment of center */
address {
  text-align: center;
}


/* Make the website URL bold with a font-size of 1.25em, font color of #4F3674, and remove the underline */
address a {
  font-weight: bold;
  font-size: 1.25em;
  color: #4F3674;
  text-decoration: none;
}


/* Apply rules to the hover and visited pseudo classes for the website link. When a user hovers over the website link, apply an underline to the text and give it a background color of #D6A800 */
address a:hover {
  text-decoration: underline;
  background-color: #D6A800;
}


/* For the pseudo class “visited” select a styling of your choosing. I chose Seahawks Green for fun though I wouldn't in this spot for readability*/
address a:visited {
  color: #59FF00;
  font-style: italic;
}